<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="container">
            <h1><%= title %></h1>

            <% users.forEach(user => { %>
                <article class="card">
                    <div class="card-left">
                        <figure>
                            <img src="img/users/<%= user.image ? user.image : 'default.png' %>" alt="">
                        </figure>
                        <h3>#<%= user.id %></h3>
                    </div>
                    <div class="card-content">
                        <h3><%= user.first_name %> <%= user.last_name %></h3>
                        <p>Categoría: <%= user.category %></p>
                        <p>Email: <a href="mailto:<%= user.email %>" target="_blank"><%= user.email %></a></p>
                        <div>
                            <a class="button" href="/users/<%= user.id %>">Ver detalle</a>
                        </div>
                    </div>   
                </article>
            <% }) %>

        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>